@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* text color */
  --text-white: #fffff;

  /* bg-color */
  --bg-white: #fffff;
  --bg-blue-primary: #00112c;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--bg-white);
  background-color: var(--bg-white);
}

.progress-bar {
  height: 20px;
  background-color: #f3f4f6;
  border-radius: 8px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  background-color: #179dba;
  transition: width 0.3s ease-in-out;
}
.arrow-down {
  position: relative;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 18px solid #333;
  margin-top: -1px;
  margin-left: 60%;
}
.arrow-down::before {
  content: "";
  position: absolute;
  top: -18px; /* Adjust based on the border size */
  left: -16px; /* Adjust based on the border size */
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #fff;
}
.slider-wrapper {
  width: 100%;
}
.range-slider {
  position: relative;
}
.range-slider__bubble {
  position: absolute;
  top: -1.4375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.range-slider__range {
  -webkit-appearance: none;
  height: 0.5rem;
  border-radius: 0.3125rem;
  background: #179dba;
  outline: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
.range-slider__bubble svg {
  stroke-width: 0.5px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}
.year-stops {
  position: relative;
  top: -1rem;
  left: -1px;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.year-stops .year-stop {
  position: absolute;
  background-color: #179dba;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
}

/* ----------------- */
.range-item {
  position: relative;
}
.range-item:not(:last-child) {
  margin-bottom: 24px;
}
.range-item .range-input {
  margin-top: 6px;
}
.range-item .range-input input {
  /* position: relative; */
  z-index: 2;
  cursor: pointer;
}
.range-item ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: calc(100% + 34.4px);
  margin: 0 -17px;
}
.range-item ul .list-inline-item:not(:last-child) {
  margin-right: 0;
}
.range-item ul .list-inline-item span {
  position: relative;
  min-width: 58px;
  text-align: center;
  display: block;
  font-size: 14px;
  padding-top: 4px;
  word-break: break-word;
  color: #b1b1b1;
}
.range-item .range-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: calc(100% - 14px);
  background-color: #179dba;
  z-index: 0;
  margin: 0 7px;
  border-radius: 50px;
  overflow: hidden;
}
.range-item .range-input.disable-range + ul .list-inline-item span::before {
  background-color: #b1b1b1;
}
.range-item .range-input.disable-range .range-line .active-line {
  background-color: #b1b1b1;
}
.range-item
  .range-input.disable-range
  + ul
  .list-inline-item.active
  span::before {
  background-color: #777777;
}
.range-item .range-input .dot-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 24px);
  left: 0;
  z-index: 1;
}
.range-item .range-input .active-dot {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  background-color: #ffffff;
  height: 24px;
  width: 24px;
  border: 4px solid #179dba;
  z-index: 11;
  left: 0%;
  border-radius: 50%;
}
.range-item .range-input .range-line .active-line {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background-color: green;
  transition: all 0.1s ease;
}
.range-item ul .list-inline-item span::before {
  content: "";
  display: block;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #696969;
}
.range-item ul .list-inline-item.active span::before {
  background-color: white;
}
.range-item .range-input input:disabled ~ .dot-line .active-dot {
  background-color: #d9d9d9;
  border: 4px solid #b1b1b1;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: #0000;
  height: 15px;
  width: 15px;
  border: 4px solid #0000;
  z-index: 11;
  box-shadow: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: #0000;
  height: 24px;
  width: 24px;
  border: 4px solid #0000;
  box-shadow: none;
  z-index: 11;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #f0f0f000;
}
input[type="range"]::-moz-range-progress {
  background-color: #f0f0f000;
}
input[type="range"]::-ms-track {
  background-color: #f0f0f000;
}
input[type="range"]::-moz-range-track {
  background-color: #f0f0f000;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #f0f0f000;
}
input[type="range"]::-ms-fill-upper {
  background-color: #f0f0f000;
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: none !important;
  background-color: #f0f0f000;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: none !important;
  background-color: #f0f0f000;
}

input[type="range"]:focus::-ms-thumb {
  background-color: #f0f0f000;
  box-shadow: none !important;
}
input[type="range"]:disabled::-webkit-slider-thumb {
  background-color: #0000;
  border: 4px solid #0000;
}
input[type="range"]:disabled::-moz-range-thumb {
  background-color: #0000;
  border: 4px solid #0000;
}

/* ----------------- */
